@import (less) '../../node_modules/normalize.css/normalize.css';
@import 'base/var';
@import 'base/icons';
@import 'base/mixins';
@import 'base/base';


body {
    position: relative;
    width: 280px;
    height: 360px;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
}
header,
main {
    position: fixed;
    left: 5px;
    right: 5px;
}
header {
    top: 5px;
    height: 48px;
    line-height: 48px;
    .btn {
        display: block;
        height: 100%;
        background: @btn-bg;
        font-family: 'PingFangTC-Regular';
        font-size: 18px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        .round();
    }
}
main {
    top: 58px;
    bottom: 5px;
    overflow: auto;
    border: 1px solid #DCDCDC;
    background: #fff;
    .round();

    .tips {
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        font-family: 'STHeitiSC-Light';
        font-size: 12px;
        color: #B8B8B8;
        background: #f8f8f8;
    }
    .stash-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .item {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 36px;
            line-height: 36px;
            margin: 0;
            padding: 0 4px 0 10px;
            border-top: 1px solid  #F2F2F2;
            &:last-child{
                border-bottom: 1px solid  #F2F2F2;
            }

            .count {
                width: 20px;
                margin-right: 5px;
                height: 14px;
                line-height: 14px;
                .inner {
                    display: inline-block;
                    padding: 0 5px;
                    height: 14px;
                    line-height: 14px;
                    font-family: 'STHeitiSC-Light';
                    font-size: 10px;
                    color: #FFFFFF;
                    background: rgba(73,143,225,0.40);
                    .round(4px);
                }
            }

            > .title {
                flex: 1;

            }
            .title {
                font-size: 12px;
                .text-overflow();
                cursor: pointer;
                color: #555;
            }

            .control {
                display: none;
                width: 78px;
                height: 26px;
                line-height: 26px;
                > a {
                    float: left;
                    padding: 3px;
                    height: 26px;
                    text-decoration: none;
                    >[class|='icon'] {
                        float: left;
                    }
                    &:hover {
                        background: rgba(73,143,225,0.15);
                    }
                }
            }

            .tab-list-wrapper {
                display: none;
            }

            &:hover {
                background: rgba(73, 143, 225, 0.1);
                border-color: rgba(73, 143, 226, 0.16);
                .count {
                    .inner {
                        background: rgba(73,143,225,0.70);
                    }
                }
                .title {
                    color: #000;
                }
                .control {
                    display: block;
                }
            }
            &:hover + .item{
                border-top-color: rgba(73, 143, 226, 0.16);
            }
            &.expanded {
                .tab-list-wrapper {
                    display: block;
                    .mask();
                }
                .tab-list-title,
                .tab-list {
                    display: block;
                    position: absolute;
                }
                .tab-list-title {
                    top: 30px;
                    height: 36px;
                    line-height: 36px;
                    left: 20px;
                    right: 20px;
                    background: #eee;
                    padding: 0 35px 0 10px;
                    border: #333;
                    cursor: text;
                    .icon-close {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        padding: 5px;
                        right: 6px;
                        top: 50%;
                        margin-top: -12px;
                        cursor: pointer;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
                .tab-list {
                    top: 66px;
                    left: 20px;
                    right: 20px;
                    bottom: 30px;
                    background: #fff;
                    border: #333;
                    border-top: 0;
                    list-style: none;
                    overflow-y: auto;
                    padding: 0;
                    li {
                        display: flex;
                        align-items: center;
                        position: relative;
                        z-index: 10;
                        border-top: 1px solid  #F2F2F2;

                        .link {
                            height: 32px;
                            line-height: 32px;
                            padding: 0 5px 0 10px;
                            display: block;
                            .text-overflow();
                            flex: 1;
                            color: @link-color;
                            text-decoration: none;
                        }
                        .delete {
                            display: none;
                            margin-right: 4px;
                            padding: 3px;
                            height: 26px;
                            &:hover {
                                background: rgba(73,143,225,0.15);
                            }
                            >[class|='icon'] {
                                display: block;
                            }
                        }

                        &:hover {
                            background: rgba(73, 143, 225, 0.1);
                            border-color: rgba(73, 143, 226, 0.16) !important;
                            .delete {
                                display: block;
                            }
                        }
                        &:hover + li {
                            border-color: rgba(73, 143, 226, 0.16);
                        }
                        &:last-child {
                            border-bottom: 1px solid  #F2F2F2;
                        }
                    }
                }
            }

            .title-edit-wrapper {
                display: none;
                &.show {
                    display: block;
                }
                .mask();
                .editor-wrapper {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    right: 20px;
                    margin-top: -21px;
                    height: 42px;
                    background: #fff;
                    border: 2px solid rgba(73, 143, 226, .6);
                    .ipt-title {
                        display: block;
                        width: 100%;
                        padding: 0 10px;
                        height: 100%;
                        border: 0;
                        margin: 0;
                        outline: none;
                        font-size: 14px;
                    }
                }
            }
        }
    }

}
