<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暂存标签</title>
    <script src="../js/popup.bundle.js"></script>
</head>
<body>
    
    <section class="header">
        <span class="btn btn-primary js-add-stash">暂存</span>
    </section>
    
    <section class="main">
        <h2 class="tips">当前共4组，22个tab</h2>
        <ul class="stash-list">
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            <li class="item">
                <span class="count">99</span>
                <h3 class="title">
                    <span class="date">12-15</span>
                    <span class="text">百度一下，你就知道你就知道你就知道你就知道你就知道你就知道你就知道</span>
                </h3>
                <span class="control-bar"></span>
            </li>
            
        </ul>
    </section>
</body>
</html>