<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>暂存标签</title>
    
</head>
<body>
    
    <section class="header">
        <span class="btn btn-primary js-add-stash">暂存</span>
    </section>
    
    <section class="main"></section>

<script type="text/html" id="stash-template">
    <h2 class="tips">当前共{{summary.groupCount}}组，{{summary.itemsCount}}个tab</h2>
    <ul class="stash-list">
        {{each list as item i}}
            <li class="item" data-id="item.id">
                <span class="count">
                    <span class="inner">{{item.children.length}}</span>
                </span>
                <h3 class="title"  title="{{item.dateAddedFull}} | {{item.title}}">
                    <span class="date">{{item.dateAddedShort}}</span> | 
                    <span class="text">{{item.title}}</span>
                </h3>
                <div class="control">
                    <a href="#"class="expand" title="展开列表"><i class="icon-expand"></i></a>
                    <a href="#"class="modify" title="修改"><i class="icon-modify"></i></a>
                    <a href="#"class="delete" title="删除"></a>
                </div> 
                <div class="tab-list-wrapper">
                    <h4 class="title"  title="{{item.dateAddedFull}} | {{item.title}}">
                        <span class="date">{{item.dateAddedShort}}</span> | 
                        <span class="text">{{item.title}}</span>
                        <i class="icon-close" title="关闭"></i>
                    </h4>  
                    <ul class="tab-list">
                        {{each item.children as tab j}}
                            <li class="tab"><a class="link" href="{{tab.url}}" title="点击打开>>{{tab.title}}">{{tab.title}}</a></li>
                        {{/each}}
                    </ul>
                </div> 
            </li>
        {{/each}}
    </ul>
</script>

<script src="../js/popup.bundle.js"></script>
</body>
</html>